body{
  text-align: center;
 background: linear-gradient( #E1BEE7 0%,#90CAF9 100%);
    font-size: 20px;

}
h1{
  font-weight:bold;
  color:#651FFF;
  font-size:30px;
    font-family: 'Style Script', cursive;
}
#bio{
 color:#1B5E20;
  font-size:20px;
  font-weight:bold;
  padding:20px;
}
.menu{
  list-style:none;
  font-family:cursive;
  float:right;
  top:10px
   right:30px
    cursor;pointer;
  color:black;
}
#basketball{
    font-size: 20px;
    text-align: center;

}
line{
    width: 30px

}
#myname{
    font-family: 'Courgette',cursive;

}
